name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint Web
        run: npm run lint --workspace=web

      - name: Build Web
        run: npm run build --workspace=web

      - name: Build Studio
        run: npm run build --workspace=accidentals-content-hub
